/* Agrega aqui tu CSS */
.parte1 {
	width: 200px;
    height: 250px;
    border: 2px red solid;
    padding: 0 10px;
}

.parte2 {
	width: 200px;
    height: 250px;
    border: 2px red solid;
    padding: 0 10px;
    margin-bottom: 10px;
}

.parte4 {
	width: 200px;
    height: 250px;
    border: 2px red solid;
}